body {
    font-family: sans-serif;
    margin-top: 60px;
}

hr {
    border-top: 3px double #8c8b8b;
}

.cen-container {
    background-color: lavender;
}

.center {
    position:relative;
    top: 20px;
    left: 20px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    color: #464545;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

