body {
    margin: 60px;
    font-family: sans-serif;
    background-color: black;
}

hr {
    border-top: 3px double #8c8b8b;
}

.img-name-container {
    text-align: center;
}

.details-container {
    margin-left: 20px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    float: left;
    max-width: 800px;
    margin: auto;
    color: #a6a6a6;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

